@font-face {
    font-family: 'ColaborateThinRegular';
    src: url('Fonts/ColabThi-webfont.eot');
    src: url('Fonts/ColabThi-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/ColabThi-webfont.woff') format('woff'),
         url('Fonts/ColabThi-webfont.ttf') format('truetype'),
         url('Fonts/ColabThi-webfont.svg#ColaborateThinRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ColaborateLightRegular';
    src: url('Fonts/ColabLig-webfont.eot');
    src: url('Fonts/ColabLig-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/ColabLig-webfont.woff') format('woff'),
         url('Fonts/ColabLig-webfont.ttf') format('truetype'),
         url('Fonts/ColabLig-webfont.svg#ColaborateLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ColaborateRegular';
    src: url('Fonts/ColabReg-webfont.eot');
    src: url('Fonts/ColabReg-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/ColabReg-webfont.woff') format('woff'),
         url('Fonts/ColabReg-webfont.ttf') format('truetype'),
         url('Fonts/ColabReg-webfont.svg#ColaborateRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ColaborateMediumRegular';
    src: url('Fonts/ColabMed-webfont.eot');
    src: url('Fonts/ColabMed-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/ColabMed-webfont.woff') format('woff'),
         url('Fonts/ColabMed-webfont.ttf') format('truetype'),
         url('Fonts/ColabMed-webfont.svg#ColaborateMediumRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ColaborateBoldRegular';
    src: url('Fonts/ColabBol-webfont.eot');
    src: url('Fonts/ColabBol-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/ColabBol-webfont.woff') format('woff'),
         url('Fonts/ColabBol-webfont.ttf') format('truetype'),
         url('Fonts/ColabBol-webfont.svg#ColaborateBoldRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}