html{
    height: 100%;
    overflow-x: hidden;
    font: 1rem/2rem 'ColaborateLightRegular', sans-serif;
}

.curtains{
    width: 100%;
    z-index:1;
    position:relative;
}

.curtains>li{
    -webkit-transform:translateZ(0);
    background: rgb(240,240,240);
    position: fixed;
    display:block;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    z-index:1;
    border-bottom: 1px solid rgba(0,0,0,0.4);
}
.curtains>li.hidden{display:none;}
.curtains>li:first-child{z-index:2;}
