@charset "utf-8";
@font-face {
  font-family: 'ColaborateThinRegular';
  src: url("Fonts/ColabThi-webfont.eot");
  src: url("Fonts/ColabThi-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/ColabThi-webfont.woff") format("woff"), url("Fonts/ColabThi-webfont.ttf") format("truetype"), url("Fonts/ColabThi-webfont.svg#ColaborateThinRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ColaborateLightRegular';
  src: url("Fonts/ColabLig-webfont.eot");
  src: url("Fonts/ColabLig-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/ColabLig-webfont.woff") format("woff"), url("Fonts/ColabLig-webfont.ttf") format("truetype"), url("Fonts/ColabLig-webfont.svg#ColaborateLightRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ColaborateRegular';
  src: url("Fonts/ColabReg-webfont.eot");
  src: url("Fonts/ColabReg-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/ColabReg-webfont.woff") format("woff"), url("Fonts/ColabReg-webfont.ttf") format("truetype"), url("Fonts/ColabReg-webfont.svg#ColaborateRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ColaborateMediumRegular';
  src: url("Fonts/ColabMed-webfont.eot");
  src: url("Fonts/ColabMed-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/ColabMed-webfont.woff") format("woff"), url("Fonts/ColabMed-webfont.ttf") format("truetype"), url("Fonts/ColabMed-webfont.svg#ColaborateMediumRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ColaborateBoldRegular';
  src: url("Fonts/ColabBol-webfont.eot");
  src: url("Fonts/ColabBol-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/ColabBol-webfont.woff") format("woff"), url("Fonts/ColabBol-webfont.ttf") format("truetype"), url("Fonts/ColabBol-webfont.svg#ColaborateBoldRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  height: 100%;
  overflow-x: hidden;
  font: 1rem/2rem "ColaborateLightRegular", sans-serif; }

.curtains {
  width: 100%;
  z-index: 1;
  position: relative; }

.curtains > li {
  -webkit-transform: translateZ(0);
  background: #f0f0f0;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  z-index: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4); }

.curtains > li.hidden {
  display: none; }

.curtains > li:first-child {
  z-index: 2; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

#vibeCover {
  background: url("Images/01.png"), url("Images/vibeBack1.png") 50% 0 no-repeat;
  background-size: 5px, cover;
  border-bottom: 10px solid rgba(170, 170, 160, 0.8); }

.startMessage a {
  background: black;
  padding: 25px 10px 5px;
  box-sizing: border-box;
  width: 100px;
  display: block;
  height: 100px;
  line-height: 1rem;
  text-decoration: none;
  color: gainsboro;
  border-radius: 75px;
  bottom: 0;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  text-align: center; }
  .startMessage a span {
    display: block; }

.menu {
  position: fixed;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.8);
  width: 50px;
  height: 100%;
  right: 10px; }
  .menu li {
    list-style: none;
    padding: 10px; }
  .menu li a {
    text-decoration: none;
    color: #f0f0f0; }

.vibeLogo {
  width: 300px;
  top: 30%;
  display: block;
  position: absolute;
  margin-left: -150px;
  left: 50%;
  z-index: 100; }

.intro {
  display: none;
  position: absolute;
  top: 20%;
  width: 42%;
  font-size: 3rem;
  line-height: 3rem;
  color: #828278; }
  .intro b {
    background: rgba(240, 120, 80, 0.89);
    color: #f0f0f0; }

.rightIntro {
  position: absolute;
  right: 50px;
  width: 50%; }

.rightDragon {
  position: absolute;
  right: 0; }

.introCont p {
  display: none;
  text-align: right;
  position: relative;
  top: 100px;
  font-size: 3rem;
  line-height: 3rem;
  color: #828278; }
  .introCont p b {
    background: rgba(240, 120, 80, 0.89);
    color: #f0f0f0; }

.tiger {
  opacity: 0.3;
  position: absolute;
  left: 0;
  bottom: 0; }

.dragon {
  opacity: 0.3;
  position: absolute;
  right: 0;
  bottom: 0; }

.dragonSlide {
  background: #50504b; }

#slides {
  position: absolute;
  width: 580px;
  height: 489px;
  left: 30px;
  top: 90px; }

#slides2, #slides3 {
  position: absolute;
  width: 550px;
  height: 370px;
  left: 40px;
  top: 30px; }

.edigImg {
  width: 550px; }

.webFrame:after {
  content: '';
  position: absolute;
  display: block;
  z-index: 100;
  background: url("Images/web.png") 50% 0 no-repeat;
  background-size: 640px;
  width: 640px;
  height: 721px; }

.ipadFrame:after {
  content: '';
  position: absolute;
  display: block;
  z-index: 100;
  background: url("Images/ipad.png") 50% 0 no-repeat;
  background-size: 640px;
  width: 640px;
  height: 721px; }

.pockImg {
  width: 580px; }

.workReel {
  width: 956px;
  position: relative;
  top: 100px;
  margin: 0 auto;
  display: block; }
  .workReel li {
    width: 270px;
    height: 200px;
    background: rgba(0, 0, 0, 0.1);
    margin: 20px;
    float: left;
    box-sizing: border-box;
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0.1); }

.portfolioItem {
  width: 1024px;
  height: 800px;
  margin: 0 auto;
  position: relative;
  top: 100px;
  color: #5a5a5a; }
  .portfolioItem h3 {
    font-family: ColaborateMediumRegular;
    font-weight: normal;
    margin-top: 5px;
    padding-top: 10px; }

.pocketMobText {
  position: absolute;
  left: 670px;
  width: 350px;
  line-height: 1.2rem; }
  .pocketMobText ul {
    margin: 10px 30px; }
  .pocketMobText p {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3); }

.pocketBack {
  width: 100%;
  height: 300px;
  position: absolute;
  z-index: 0;
  background: rgba(40, 10, 50, 0.5);
  top: 20%; }

.mobImg {
  width: 340px;
  margin-top: -21px; }

.mobile {
  width: 360px;
  position: absolute;
  z-index: 100;
  left: 0; }

.nextButton {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  color: #f0f0f0;
  text-decoration: none;
  font: 0.9rem/1rem helvetica, sans-serif;
  box-shadow: 0 2px 0 0px rgba(255, 255, 255, 0.2);
  z-index: 120;
  top: 220px;
  transition: background 0.2s linear;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  left: 553px;
  top: 280px; }
  .nextButton:hover {
    background: rgba(110, 110, 100, 0.7); }

.nextButton-ios {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  color: #f0f0f0;
  text-decoration: none;
  font: 0.9rem/1rem helvetica, sans-serif;
  box-shadow: 0 2px 0 0px rgba(255, 255, 255, 0.2);
  z-index: 120;
  top: 220px;
  transition: background 0.2s linear;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  left: 535px; }
  .nextButton-ios:hover {
    background: rgba(110, 110, 100, 0.7); }

.prevButton-ios {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  color: #f0f0f0;
  text-decoration: none;
  font: 0.9rem/1rem helvetica, sans-serif;
  box-shadow: 0 2px 0 0px rgba(255, 255, 255, 0.2);
  z-index: 120;
  top: 220px;
  transition: background 0.2s linear;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  left: 40px; }
  .prevButton-ios:hover {
    background: rgba(110, 110, 100, 0.7); }

.prevButton {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  color: #f0f0f0;
  text-decoration: none;
  font: 0.9rem/1rem helvetica, sans-serif;
  box-shadow: 0 2px 0 0px rgba(255, 255, 255, 0.2);
  z-index: 120;
  top: 220px;
  transition: background 0.2s linear;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  left: 33px;
  top: 280px; }
  .prevButton:hover {
    background: rgba(110, 110, 100, 0.7); }

.cloud1 {
  position: absolute;
  bottom: 0;
  display: block; }

.map {
  height: 200px;
  width: 100%;
  border-top: 5px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 100px; }

.container {
  width: 1024px;
  margin: 0 auto;
  position: relative;
  top: 40px; }

.contact {
  width: 500px;
  height: 350px;
  position: relative;
  top: 20px;
  float: left;
  background: #f0f0f0;
  z-index: 100; }
  .contact input[type="text"], .contact input[type="number"], .contact input[type="email"] {
    display: block;
    width: 400px;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 1.3rem;
    margin-bottom: 20px;
    padding: 10px 10px 5px;
    font-family: inconsolata;
    color: #5a5a5a; }
    .contact input[type="text"]:focus, .contact input[type="number"]:focus, .contact input[type="email"]:focus {
      outline: none; }
  .contact .send-button {
    width: 100px;
    height: 35px;
    display: block;
    border: none;
    border-bottom: 3px solid rgba(0, 0, 0, 0.3);
    position: relative;
    left: 320px;
    cursor: pointer;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    font-size: 0.8rem;
    padding-top: 5px;
    background: #5a5a50;
    letter-spacing: 0.1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1); }
  .contact textarea {
    width: 400px;
    height: 100px;
    resize: none;
    background: rgba(90, 90, 80, 0.1);
    border: none;
    padding: 10px;
    box-shadow: 0 -1px rgba(255, 255, 255, 0.1);
    font-size: 1.3rem;
    font-family: inconsolata;
    color: #5a5a5a;
    border-radius: 2px;
    overflow: auto; }
    .contact textarea:focus {
      outline: none; }

.error-message span {
  background: #fffffa;
  padding: 7px 8px;
  border-radius: 4px;
  color: #5a5a50;
  border: 1px solid rgba(240, 70, 0, 0.3);
  font-size: 0.9rem;
  z-index: 100;
  position: relative; }

.contactTitle {
  color: #505046;
  font-family: ColaborateMediumRegular;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 0 10px;
  margin-bottom: 10px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  text-align: center; }

.contactText {
  float: left;
  width: 400px;
  font-size: 1.3rem;
  font-family: ColaborateThinRegular;
  line-height: 2rem;
  color: #5a5a50;
  position: relative;
  top: 30px; }

.socialButton {
  list-style: none;
  display: inline-block; }
  .socialButton a {
    background: rgba(0, 0, 0, 0.4);
    height: 70px;
    width: 70px;
    text-align: center;
    border-radius: 40px;
    list-style: none;
    line-height: 4.5rem;
    color: #f0f0f0;
    cursor: pointer;
    float: left;
    margin: 20px;
    -webkit-transition: background 0.2s;
    color: #f0f0f0;
    text-decoration: none; }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  height: 60px;
  line-height: 1rem;
  text-align: center;
  font-size: 0.8rem;
  color: rgba(240, 240, 240, 0.9); }
  footer nav a {
    text-decoration: none;
    color: #f0f0f0; }

footer p {
  padding-top: 20px; }

.socialList {
  float: left;
  position: relative;
  top: 140px;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.twitter a:hover {
  background: #1496f0; }

.facebook a:hover {
  background: #2d468c; }
