@charset 'utf-8';
//Fonts
@import 'colaborateFont';
//Curtain styles
@import 'curtain';
// Reset
@import 'reset';

#vibeCover{
	background: url('Images/01.png'), url('Images/vibeBack1.png') 50% 0 no-repeat;
	background-size:5px, cover;
	border-bottom: 10px solid rgba(170, 170, 160, 0.8);
}

.startMessage a{
	background: black;
	padding: 25px 10px 5px;
	box-sizing: border-box;
	width: 100px;
	display: block;
	height: 100px;
	line-height: 1rem;
	text-decoration: none;
	color: gainsboro;
	border-radius: 75px;
	bottom: 0;
	position: absolute;
	left: 50%;
	margin-left: -50px;
	text-align: center;
	span{
		display: block;
	}
}
.menu{
	position: fixed;
	z-index: 1000;
	background: rgba(0,0,0,0.8);
	width: 50px;
	height: 100%;
	right: 10px;
	li{
		list-style:none;
		padding:10px;
	}
	li a{
		text-decoration: none;
		color: rgb(240,240,240);
	}
}
.vibeLogo{
	width: 300px;
	top: 30%;
	display: block;
	position: absolute;
	margin-left: -150px;
	left:50%;
	z-index:100;
}

.intro{
	display:none;
	position: absolute;
	top: 20%;
	width: 42%;
	font-size: 3rem;
	line-height: 3rem;
	color: rgb(130,130,120);
	b{
		background: rgba(240,120,80,0.89);
		color: rgb(240,240,240);
	}
}

.rightIntro{
	position: absolute;
	right: 50px;
	width: 50%;
}

.rightDragon{
	position: absolute;
	right:0;
}

.introCont{
	p{
		display: none;
		text-align: right;
		position: relative;
		top: 100px;
		font-size: 3rem;
		line-height: 3rem;
		color: rgb(130,130,120);
		b{
			background: rgba(240,120,80,0.89);
			color: rgb(240,240,240);
		}
	}
}
.tiger{
	opacity:0.3;
	position: absolute;
	left:0;
	bottom:0;

}
.dragon{
	opacity:0.3;
	position: absolute;
	right:0;
	bottom:0;

}

.dragonSlide{
	background:rgb(80,80,75);
}

#slides{
	position: absolute;
	width: 580px;
	height: 489px;
	left: 30px;
	top: 90px;
}

#slides2, #slides3{
	position: absolute;
	width: 550px;
	height: 370px;
	left: 40px;
	top: 30px;
}
.edigImg{
	width: 550px;
}

@mixin slideFrames{
	content: '';
	position: absolute;
	display: block;
	z-index:100;
}

.webFrame:after{
	@include slideFrames;
	background: url("Images/web.png") 50% 0 no-repeat;	
	background-size:640px;
	width: 640px;
	height: 721px;

}
.ipadFrame:after{
	@include slideFrames;
	background: url("Images/ipad.png") 50% 0 no-repeat;
		background-size:640px;
	width: 640px;
	height: 721px;
}

.pockImg{
	width:580px;
}
.workReel{
	width:956px;
	position: relative;
	top:100px;
	margin: 0 auto;
	display:block;
	li{
		width: 270px;
		height: 200px;
		background: rgba(0, 0, 0, 0.1);
		margin: 20px;
		float: left;
		box-sizing: border-box;
		list-style: none;
		border: 1px solid rgba(0,0,0,0.1);
	}
}
.portfolioItem{
	width: 1024px;
	height: 800px;
	margin: 0 auto;
	position: relative;
	top: 100px;
	color:rgb(90,90,90);
	h3 {
		font-family: ColaborateMediumRegular;
		font-weight: normal;
		margin-top: 5px;

		padding-top: 10px;
	}
}


.pocketMobText{
	position: absolute;
	left: 670px;
	width: 350px;
	line-height:1.2rem;
	ul{
		margin:10px 30px;
	}
	p{
		border-bottom: 1px solid rgba(0,0,0,0.1);
		box-shadow: 0 1px 0 0 rgba(255,255,255,0.3);
	}
}
.pocketBack{
	width: 100%;
	height: 300px;
	position: absolute;
	z-index: 0;
	background: rgba(40,10,50,0.5);
	top: 20%;
}
.mobImg{
	width:340px;
	margin-top:-21px;
}

.mobile{
	width: 360px;
	position: absolute;
	z-index: 100;
	left: 0;
}

@mixin slideButton{
	position: absolute;
	background:rgba(0, 0, 0, 0.7);
	padding: 10px 20px;
	color: rgb(240,240,240);
	text-decoration: none;
	font: 0.9rem/1rem helvetica, sans-serif;
	box-shadow: 0 2px 0 0px rgba(255,255,255,0.2);
	z-index: 120;
	top: 220px;
	transition: background 0.2s linear;
	-webkit-transition: background 0.2s linear;
	-moz-transition: background 0.2s linear;
	&:hover{
		background:rgba(110, 110, 100, 0.7);
	}
}

.nextButton{
	@include slideButton;
	left: 553px;
	top:280px;
}	
.nextButton-ios{
	@include slideButton;
	left:535px;
}
.prevButton-ios{
	@include slideButton;
	left:40px;
}

.prevButton{
	@include slideButton;
	left: 33px;
	top:280px;
}
.cloud1{
	position: absolute;
	bottom:0;
	display:block;
}

.map{
	height: 200px;
	width:100%;
	border-top: 5px solid rgba(0,0,0,0.2);
	position: absolute;
	bottom:100px;
}

.container{
	width:1024px;
	margin:0 auto;
	position: relative;
	top: 40px;
}
.contact{
	width: 500px;
	height: 350px;
	position: relative;
	top: 20px;
	float: left;
	background: rgb(240, 240, 240);
	z-index: 100;
	input[type="text"],input[type="number"],input[type="email"] {
		display: block;
		width: 400px;
		background: transparent;
		border: none;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		font-size: 1.3rem;
		margin-bottom: 20px;
		padding: 10px 10px 5px;
		font-family: inconsolata;
		color: rgb(90,90,90);
		&:focus{
			outline:none;
		}
	}
	.send-button{
		width: 100px;
		height: 35px;
		display: block;
		border: none;
		border-bottom: 3px solid rgba(0, 0, 0, 0.3);
		position: relative;
		left: 320px;
		cursor: pointer;
		color: white;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
		font-size: 0.8rem;
		padding-top: 5px;
		background: rgb(90,90,80);
		letter-spacing: 0.1rem;
		border-top: 1px solid rgba(255,255,255,0.1);
		}	
	textarea{
		width: 400px;
		height: 100px;
		resize: none;
		background: rgba(90,90,80,0.1);
		border: none;
		padding: 10px;
		box-shadow: 0 -1px rgba(255,255,255,0.1);
		font-size: 1.3rem;
		font-family: inconsolata;
		color: rgb(90,90,90);
		border-radius:2px;
		overflow: auto;		
		&:focus{
			outline: none;
		}
	}
}

.error-message span{
	background: rgb(255, 255, 250);
	padding: 7px 8px;
	border-radius: 4px;
	color: rgb(90, 90, 80);
	border: 1px solid rgba(240, 70, 0, 0.3);
	font-size: 0.9rem;
	z-index: 100;
	position: relative;
}
.contactTitle{
	color: rgb(80,80,70);
	font-family: ColaborateMediumRegular;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding: 20px 0 10px;
	margin-bottom: 10px;
	box-shadow: 0 1px 0 rgba(255,255,255,0.6);
	text-align: center;
}

.contactText{
	float: left;
	width: 400px;
	font-size: 1.3rem;
	font-family: ColaborateThinRegular;
	line-height: 2rem;
	color: rgb(90, 90, 80);
	position: relative;
	top: 30px;
}
.socialButton{
	list-style: none;
	display: inline-block;
	a{
	background: rgba(0, 0, 0, 0.4);
	height: 70px;
	width: 70px;
	text-align: center;
	border-radius: 40px;
	list-style: none;
	line-height: 4.5rem;
	color: rgb(240, 240, 240);
	cursor: pointer;
	float: left;
	margin: 20px;
	-webkit-transition: background 0.2s;
	color: rgb(240,240,240);
	text-decoration: none;	
	}
}
footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	background: rgba(0,0,0,0.8);
	height: 60px;
	line-height: 1rem;
	text-align: center;
	font-size:0.8rem;
	color: rgba(240,240,240,0.9);
	nav{
		a{
			text-decoration: none;
			color: rgb(240,240,240);
		}
	}
}

footer p{
	padding-top: 20px;
}

.socialList{
	float: left;
	position: relative;
	top: 140px;
	border-top: 1px solid rgba(0,0,0,0.1);
}
.twitter a:hover{
	background: rgb(20,150,240);
}

.facebook a:hover{
	background:rgb(45,70,140);
}